.App {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 4em;
  padding: 1rem 1.5rem;
  border: 3px solid var(--header-outline);
  border-radius: 15px;
}

.logo {
  width: 110px;
}

.score-board {
  background: white;
  color: var(--score-text);
  padding: 0.5rem 2rem;
  border-radius: 10px;
  text-align: center;
}

.score-title {
  text-transform: uppercase;
  letter-spacing: 1.8px;
  font-size: 0.8rem;
  color: var(--score-text);
  font-weight: 700;
}

.score {
  color: var(--dark-text);
  font-size: 4rem;
  font-weight: 700;
  line-height: 0.9;
}

.main-content {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.game-section {
  width: 100%;
}

.rules-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rules-btn > button {
  background: transparent;
  color: white;
  padding: 0.6rem 2.5rem;
  border: 1px solid #fff;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 1.8px;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 600;
  transition: background 0.3s;
  font-family: "Barlow Semi Condensed", sans-serif;
}

.rules-btn > button:hover {
  background: rgba(255, 255, 255, 0.1);
  transform: scale(1.05);
}
