.result {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
  gap: 3em;
}

.user-result,
.computer-result {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.result-container {
  position: relative;
  width: 80px;
  height: 80px;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.result-container::before {
  content: "";
  position: absolute;
  top: -15px;
  left: -15px;
  right: -15px;
  bottom: -15px;
  border-radius: 50%;
  z-index: -1;
  box-shadow: inset 0 -9px 0px -3px rgba(0, 0, 0, 0.2);
}

.result-container.rock::before {
  background-image: var(--rock-gradient);
}

.result-container.paper::before {
  background-image: var(--paper-gradient);
}

.result-container.scissors::before {
  background-image: var(--scissors-gradient);
}

.result-container.lizard::before {
  background-image: var(--lizard-gradient);
}

.result-container.spock::before {
  background-image: var(--spock-gradient);
}

.choice-result {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: white;
  border: none;
  box-shadow: inset 0 6px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  position: relative;
  z-index: 1;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s;
}

.choice-result > img {
  width: 40%;
}

/* TO EQUALIZE SIZE OF IMAGES */

.choice-result.lizard img,
.choice-result.scissors .choice img {
  width: 50%;
}

.result .user-result > h3,
.result .computer-result > h3 {
  display: flex;
  justify-content: center;
  margin-top: 3em;
  color: #fff;
  font-size: 0.7rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.computer-result .result-container {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.computer-result.show .result-container {
  opacity: 1;
}

.computer-result.show-placeholder::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  width: 80px;
  height: 80px;
  background-color: #192845;
  border-radius: 50%;
  z-index: -1;
}

.outcome-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 2em;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.outcome-container.show {
  opacity: 1;
}

.outcome-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 70%;
  color: #fff;
  text-align: center;
  margin: 0 auto;
}

.outcome-text > h2 {
  font-size: 2.1rem;
  margin-bottom: 0.3em;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2.9rem;
}

.play-again-btn {
  border-radius: 5px;
  background: white;
  border: none;
  cursor: pointer;
  display: flex;
  position: relative;
  z-index: 1;
  align-items: center;
  justify-content: center;
  padding: 1em 2em;
  margin: 0 auto;
  transition: transform 0.2s;
  text-transform: uppercase;
  font-weight: 500;
  font-family: "Barlow Semi Condensed", sans-serif;
  letter-spacing: 1px;
  font-size: 1rem;
}

.play-again-btn:hover,
.play-again-btn:focus {
  background: rgba(255, 255, 255, 0.1);
  transform: scale(1.05);
  color: #fff;
  transition: opacity 0.5s ease;
  border: 1px solid #fff;
}

.result-container::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  pointer-events: none;
  z-index: -50;
}

.result-container.reveal-ripple::after {
  animation: ripple 2.5s infinite;
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.3),
      0 0 0 0 rgba(255, 255, 255, 0.3), 0 0 0 0 rgba(255, 255, 255, 0.3);
  }
  80% {
    box-shadow: 0 0 0 50px rgba(255, 255, 255, 0),
      0 0 0 70px rgba(255, 255, 255, 0), 0 0 0 90px rgba(255, 255, 255, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0), 0 0 0 0 rgba(255, 255, 255, 0),
      0 0 0 0 rgba(255, 255, 255, 0);
  }
}

/* MEDIA QUERIES */

@media screen and (min-width: 500px) {
  .result {
    justify-content: space-around;
  }

  .result-container {
    width: 110px;
    height: 110px;
  }
  .choice-result {
    width: 110px;
    height: 110px;
  }

  .result .user-result > h3,
  .result .computer-result > h3 {
    font-size: 1rem;
    font-weight: 600;
  }

  .computer-result.show-placeholder::before {
    width: 110px;
    height: 110px;
    transform: translate(-50%, -80%);
  }

  .play-again-btn {
    width: 70%;
  }

  @keyframes ripple {
    0% {
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.3),
        0 0 0 0 rgba(255, 255, 255, 0.3), 0 0 0 0 rgba(255, 255, 255, 0.3);
    }
    80% {
      box-shadow: 0 0 0 70px rgba(255, 255, 255, 0),
        0 0 0 90px rgba(255, 255, 255, 0), 0 0 0 110px rgba(255, 255, 255, 0);
    }
    100% {
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0), 0 0 0 0 rgba(255, 255, 255, 0),
        0 0 0 0 rgba(255, 255, 255, 0);
    }
  }
}
